<h2>Alert Component Library</h2>

<fieldset>
  <blockquote>
    <legend>Usage example:</legend>
    <p>In template:</p>
    <p>
      <code>
        &lt;rpx-alert
        message="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
        type="danger">
        &lt;/rpx-alert&gt;
      </code>
    </p>
    <p>In module where you use it:</p>
    <p>
      <code>import &#123; RpxAlertModule &#125; from '@rpx-components-ui/components';</code>
      <br><br>and in "imports" section of @NgModule
    </p>
  </blockquote>
  <blockquote>
    <legend>Description:</legend>
    <p>Component to output rpx-components-ui styled alert of specified color(type)</p>
  </blockquote>
  <blockquote>
    <legend>Component parameters:</legend>
    <dl>
      <dt>[type]</dt>
      <dd>Alert type with possible options <i>success</i> | <i>info</i> | <i>warning</i> | <i>danger</i>. The default is <i>danger</i>.</dd>
    </dl>
    <dl>
      <dt>[message]</dt>
      <dd>Alert text to be displayed</dd>
    </dl>
    <dl>
      <dt>[title]</dt>
      <dd>Alert title</dd>
    </dl>
  </blockquote>
  <blockquote>
    <legend>Example:</legend>
    <rpx-alert title="Danger Alert Title" message="Danger Type Lorem ipsum , consectetur adipiscing elit">
    </rpx-alert>

    <rpx-alert message=" warning Type Lorem ipsum, consectetur adipiscing elit"
      type="warning">
    </rpx-alert>

    <rpx-alert message="success Lorem ipsum, consectetur adipiscing elit"
      type="success">
    </rpx-alert>

    <rpx-alert message="info Lorem ipsum, consectetur adipiscing elit"
      type="info">
    </rpx-alert>
  </blockquote>
</fieldset>
